%videoItems-shared {
  display: flex;
  cursor: pointer;
  padding: 0 0 15px;
}

.videoItems {
  @extend %videoItems-shared
}
.videoItemActive {
  @extend %videoItems-shared;
  border: 3px solid red;
}


.active {
  border: 3px solid red;
}

.videoInfo > .channelTitle, .titleVideo{
  color: #fff;
  font-family: system-ui;
}