.videoIframe {
}

iframe{
  width: 850px;
  height: 500px;
}

.videoInfo > .channelTitle, .titleVideo{
  color: #fff;
  font-family: system-ui;
}
.descriptionVideo{
  color: #Fff;
  font-family: system-ui;
  width: 75%;
}