.videoMain_container {
  display: flex;
  max-width: 1170px;
  padding: 0 15px;
  margin-top: 2rem;
}


.videoSec {
  //padding: 0;
  //width: 50%;
}


.videoLists {
  width: 50%;
  margin-left: 3rem;
}