.searchForm_container{
  width: 90%;
  margin-left: 10%;
  align-items: center;
}

input {
  min-width: 50%;
  background-color: #121212;
  border: none;
  padding: 1rem 0.6rem 0.6rem;
  color: #fff;


}

button {
  background-color: hsla(0, 0%, 100%, 0.08);
  border: none;
  padding: 1rem 0.6rem 0.6rem;
  width: 8%;
  cursor: pointer;
}